# Logs
logs
*.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# build
dist
node_modules
*.lock
package-lock.json

release/dist
